
*/Example/.vs
*/Example/Example/Example.Android/obj
*/Example/Example/Example.Android/bin
*/Example/Example/Example/bin
*/Example/Example/Example/obj
/2019/Lesson1/Code/App2/.vs
/2019/Lesson2/Code/App2/.vs
/2019/Lesson3/Code/App2/.vs
/2019/Lesson4/Code/App2/.vs
/2020/HW1/App7/.vs/App7/DesignTimeBuild/.dtbcache
/2020/HW1/App7/.vs/App7/v16/.suo
/2020/HW1/App7/.vs/App7/v16/Server/sqlite3/db.lock
/2020/HW1/App7/.vs/App7/v16/Server/sqlite3/storage.ide
/2020/HW1/App7/.vs/App7/v16/Server/sqlite3/storage.ide-shm
/2020/HW1/App7/.vs/App7/v16/Server/sqlite3/storage.ide-wal
/2020/HW1/App7/App7/App7.Android/bin/Debug/*.apk
/2021.1/App1/.vs
/2021.1/App1/App1/App1.Android/bin
/2021.1/App1/App1/App1.Android/obj
/2021.1/App1/App1/App1/obj
/2021.1/WaterShopApp/.vs
/2021.1/WaterShopApp/WaterShopApp/WaterShopApp.Android/bin
/2021.1/WaterShopApp/WaterShopApp/WaterShopApp.Android/obj
/2021.1/WaterShopApp/WaterShopApp/WaterShopApp/obj
/2021.1/WaterShopApp/WaterShopApp/WaterShopApp/bin