
*/Example/.vs
*/Example/Example/Example.Android/obj
*/Example/Example/Example.Android/bin
*/Example/Example/Example/bin
*/Example/Example/Example/obj
/2019/Lesson1/Code/App2/.vs
/2019/Lesson2/Code/App2/.vs
/2019/Lesson3/Code/App2/.vs
/2019/Lesson4/Code/App2/.vs
